@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "MaruBuri";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in {
  opacity: 0 !important;
  transition: opacity 1s ease-in-out;
}
.fade-in.visible {
  opacity: 1 !important;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: "NanumSquare", sans-serif;
}
.main .process {
  padding: 3rem 2rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out;
}
.main .process.visible {
  opacity: 1;
}

.estimate {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 10vh 0;
  padding: 5vh 0;
  font-family: "NanumSquare", sans-serif;
}
.estimate .tit {
  padding: 2rem 0;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.estimate .tit .main_tit {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  font-weight: 600;
}
.estimate .tit .body_tit {
  font-size: 0.9rem;
}
.estimate .box {
  margin: 3rem 0;
}
.estimate .box .quast_box {
  background-color: #637e79;
  color: #fff;
  max-width: 70%;
  padding: 2rem 3rem;
  margin: 0 auto;
  border-radius: 10rem;
  font-size: 2.2rem;
}
.estimate .box .quast_info {
  margin: 2rem;
}
.estimate .box .answer_box {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 55%;
}
.estimate .box .answer_box > button {
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  width: -moz-fit-content;
  width: fit-content;
}
.estimate .box .result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
.estimate .box .result .total {
  font-size: 1.6rem;
}
.estimate .box .result .total > b {
  font-size: 2rem;
  border-bottom: 10px solid #78909C;
  transform: translateY(-5px);
}
.estimate .box .result .total_info {
  font-size: 0.8rem;
}
.estimate .box .result button {
  padding: 0.7rem 3rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
}
.estimate .box .result button.restart_btn {
  margin: 0 auto;
  background-color: #90A4AE;
}
.estimate .box .result .btn_set {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}
.estimate .box .result .btn_set > button {
  border-radius: 0;
  padding: 1rem;
  width: 50%;
  color: #37474F;
  font-weight: 600;
}
.estimate .box .result .btn_set > button.call_btn {
  background-color: #B0BEC5;
}
.estimate .box .result .btn_set > button.sms_btn {
  background-color: #CFD8DC;
}

@media screen and (max-width: 769px) {
  .estimate {
    margin-bottom: 0 !important;
    padding: 5vw 0 1vw;
  }
  .estimate .tit .main_tit {
    font-size: 1.6rem;
    padding: 0 2rem;
  }
  .estimate .tit .body_tit {
    font-size: 0.8rem;
  }
  .estimate .box .quast_box {
    max-width: 90%;
    padding: 5vw 2vw;
    font-size: 1.1rem;
    margin: 0 auto !important;
  }
  .estimate .box .quast_info {
    font-size: 0.8rem;
  }
  .estimate .box .answer_box {
    max-width: 100%;
    gap: 1rem;
    padding: 0;
    margin: 1rem auto;
  }
  .estimate .box .answer_box > button {
    padding: 1rem;
    font-size: 1rem;
  }
  .estimate .result {
    gap: 3rem !important;
  }
  .estimate .result .btn_set {
    width: 100% !important;
  }
  .estimate .result .btn_set > button {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */